# Claude
.claude/
CLAUDE.md

# Environements
.venv/
venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data 
data/preprocessed/*
!data/preprocessed/.gitkeep
data/raw/*
!data/raw/.gitkeep

# Models and logs
models/*
!models/.gitkeep
!models/checkpoint/
!models/checkpoint/per_fold/
models/checkpoint/per_fold/*
!models/checkpoint/per_fold/.gitkeep

# macOS
.DS_Store
