# Base
numpy
pandas
scipy
matplotlib
scikit-learn

# DL (torch and torch vision installed separately, with the CUDA version)
lightning

# Images
pillow
tifffile
albumentations
opencv-python-headless

# Experiment tracking and optimization
mlflow

# Config and utilitaries
PyYAML

# Test and visualizations
umap-learn

# Notebook
ipykernel
